{% extends 'baseB.html.twig' %}

{% block title %}Liste des voiture de location{% endblock %}

{% block body %}
    <h1>Available rental cars</h1>
<a href="{{ path('app_voiture_location_new') }}" class="btn btn-success mt-4">Add a new car</a>
<h1></h1>
<h1></h1>
    <form id="search-form">
        <div class="form-group">
            <label for="search-input">Search by model:</label>
            <input type="text" class="form-control" id="search-input" name="search" placeholder="Enter model">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h1></h1>
<div class="content-wrapper">
    <div class="row">
        {% for voiture_location in voiture_locations %}
            <div class="col-md-4 mb-4">
                <article class="card">
                    <img src="{{ asset('uploads/voiture_images/' ~ voiture_location.imageVoiture) }}" alt="Image de la voiture" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ voiture_location.modele }}</h5>
                        <p class="card-text">Matricule: {{ voiture_location.matricule }}</p>
                        <p class="card-text">Carte Grise: {{ voiture_location.carteGrise }}</p>
                        <p class="card-text">Prix par jour: {{ voiture_location.prixJour }}DT</p>
                        <a href="{{ path('app_voiture_location_show', {'idVoiture': voiture_location.idVoiture}) }}" class="btn btn-primary">Details</a>
                    </div>
                </article>
            </div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
</div>




{% endblock %}
